# Config
/src/main/resources/deployment.properties
/src/main/webapp/META-INF/context.xml

# Compiled
*.class
*.jar
*.war
*.ear

# Maven
/target
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.next
/release.properties

# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.*

# Git
!.gitignore
!.gitkeep
